body {
    background-color: rgb(252, 239, 223);
}

h1 {
    text-align: center;
    padding-top: 40px;
    font-size: 8vh;
    text-decoration: underline;
}

h4 {
    text-align: center;
}

.name {
    width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

label {
    padding-left: 25px;
}

select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


button {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button:hover {
    background-color: beige;
    color: black;
}


.container {
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 5px;
    padding: 20px;
    background-color: palevioletred;
}



@media screen and (max-width: 1000px) {
    .container {
        margin-top: 50px;
        margin-left: 75px;
        margin-right: 75px;
        display: flex;
        padding: 20px;
        border-radius: 5px;
        background-color: palevioletred;
    }

    #lname,
    #fname {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
    }
}